<% @title= "UCLABOOK - 404 Error" %>

    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">P치gina no Encontrada</h3>

        <div class="error-desc">
            Disculpe, se ha presentado un error al cargar la p치gina, puede que la misma no exista o se le haya removido el URL, pongase en contacto con el administrador de la P치gina.
            
            <!--
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar otra p치gina">
                </div>
                <button type="submit" class="btn btn-primary">Busqueda</button>
            </form>
            -->
        </div>
    </div>