<% @title= "UCLABOOK - 500 Error" %>

    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Error Interno del Servidor</h3>

        <div class="error-desc">
            En estos momentos el servidor se encuentra Saturado. Por favor vuelva a intentarlo más tarde<br/>
            Puede redireccionar a la Página de inicio: <br/>
            <%= link_to 'Inicio', root_path, class: 'btn btn-primary m-t', method: :get %>
        </div>
    </div>
