<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UCLABOOK| Canales</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--Cosas Serias:-->
<div class="page-header">
<h1>Canales Disponibles</h1>
</div>
<!--++++++++++++++++++++++++++++++++++++++-->


    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                                                 <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                                                               <a data-toggle="dropdown" class="dropdown-toggle" href="#">
           <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Juan Aldana</strong>
                 </span> <span class="text-muted text-xs block">Ing. Informática <b class="caret"></b></span> </span> </a>
                 <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li><a href="profile.html">Perfil</a></li>
                            <li>


                            </li>
                            <li><a href="mailbox.html">Mensajería</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Salir</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        UB+
                    </div>
                </li>
                <li>
       <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Estadísticas</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="index.html">Usuario</a></li>
                        <li><a href="dashboard_2.html">Visitas</a></li>
                        <li><a href="dashboard_3.html">Post con más Like</a></li>
                        <li><a href="dashboard_4_1.html">General</a></li>
                    </ul>
                </li>
                <li>
                    <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Configuración de Diseño</span> <span class="label label-primary pull-right">NUEVO</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Mas Estadísticas</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="graph_flot.html">Flot Charts</a></li>
                        <li><a href="graph_morris.html">Morris.js Charts</a></li>
                        <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                        <li><a href="graph_chartjs.html">Chart.js</a></li>
                        <li><a href="graph_peity.html">Peity Charts</a></li>
                        <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                    </ul>
                </li>
                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mensajería </span><span class="label label-warning pull-right">16/24</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="mailbox.html">Bandeja de Entrada</a></li>
                        <li><a href="mail_detail.html">Ver Todos los Mensajes</a></li>
                        <li><a href="mail_compose.html">Redactar Mensaje</a></li>
                    </ul>
                </li>
                <li>
                    <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Mis Títulos</span> </a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Enlaces de Interes</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="Contactos.html">Contactos</a></li>
                        <li><a href="profile.html">Perfil</a></li>
                        <li><a href="calendar.html">Calendario</a></li>
                        <li><a href="faq.html">Preguntas</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Ver Más</span><span class="label label-info pull-right">NEW</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="toastr_notifications.html">Notificaciones</a></li>


                        <li><a href="forum_main.html">Foro</a></li>
                        <li><a href="google_maps.html">Google maps</a></li>

                        <li><a href="chat_view.html">Chat</a></li>
                    </ul>
                </li>
                <li>
                </li>
                <li class="active">
                    <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Galeria</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="basic_gallery.html"> Mi Galería de Fotos</a></li>

                    </ul>
                </li>
                <li class="landing_link">
                    <a target="_blank" href="Landing_page/index.html"><i class="fa fa-star"></i> <span class="nav-label">Página Principal</span> <span class="label label-warning pull-right">NEW</span></a>
                </li>



        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Busqueda" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bienvenidos a UCLABOOK+</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">

     <%= image_tag("a7.jpg", alt: "image", class: "img-circle")  %>
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">8 pm febrero</small>
                                    <strong>Noche  fría y estrellada </strong> compartiendo con <strong>Verónica Peréz</strong>. <br>
                                    <small class="text-muted">4 días feb at 7:58 pm - 10.02.2017</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">

     <%= image_tag("a4.jpg", alt: "image", class: "img-circle")  %>
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5pm febrero</small>
                                    <strong>Luis Nieto García</strong> Compartiendo con <strong>Maria Gimenéz</strong>. <br>
                                    <small class="text-muted">ayer 1:21 pm - 04.06.2017</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">

     <%= image_tag("profile.jpg", alt: "image", class: "img-circle")  %>
             </a>
          <div class="media-body ">
              <small class="pull-right">2pm febrero</small>
               <strong>Maria García</strong> comparte con <strong>Hender Dominguez</strong>. <br>
                                    <small class="text-muted">2 días febrero 2:30 pm - 05.02.2017</small>
                  </div>
              </div>
          </li>
         <li class="divider"></li>
            <li>
     <div class="text-center link-block">
       <a href="mailbox.html">
             <i class="fa fa-envelope"></i> <strong>
Leer todos los Mensajes</strong>
         </a>
          </div>
      </li>
                    </ul>
                </li>
                <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
       <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
                        <li>
       <a href="mailbox.html">
        <div>
          <i class="fa fa-envelope fa-fw"></i> Tienes 16 mensajes
          <span class="pull-right text-muted small">4 minutos febrero</span>
                                </div>
                            </a>
                        </li>
        <li class="divider"></li>
          <li>
        <a href="profile.html">
            <div>
                 <i class="fa fa-twitter fa-fw"></i> 3 Nuevos Seguidores
                <span class="pull-right text-muted small">12 minutos febrero</span>
            </div>
                    </a>
        </li>
         <li class="divider"></li>
           <li>
          <a href="grid_options.html">
            <div>
         <i class="fa fa-upload fa-fw"></i>
Servidor reiniciado
        <span class="pull-right text-muted small">4 minutos febrero</span>
                </div>
           </a>
         </li>
          <li class="divider"></li>
        <li>
       <div class="text-center link-block">
        <a href="notifications.html">
           <strong>Ver todas las alertas</strong>
         <i class="fa fa-angle-right"></i>
                  </a>
             </div>
              </li>
           </ul>
          </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>Canales</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Inicio</a>
                        </li>
                        <li>
                            Ver canales
                        </li>
                        <li class="active">
                            <strong>Areas de Conocimiento</strong>
                        </li>
                    </ol>
                </div>
            </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="file-manager">

                                <div id="slider">
          <img src="img/inter.jpg" width="100%" heigth="80px" />
          <img src="img/informatica1.jpg"  width="100%" heigth="90px"/>
          <img src="img/logo2.png" width="100%" heigth="80px"/>
          <img src= "img/images.jpg" width="100%" heigth="90px"/>
          <img src= "img/med.png" width="100%" heigth="90px"/>
          <img src= "img/canal.png" width="100%" heigth="90px"/>
          <img src= "img/canalme.png" width="100%" heigth="90px"/>

             </div>
                                <div class="hr-line-dashed"></div>
                                <button class="btn btn-primary btn-block">Areas de Conocimientos</button>
                                <div class="hr-line-dashed"></div>
                                <h5> Echa un vistazo a nuestros canales</h5>
                                <ul class="folder-list" style="padding: 0">
                                    <li><a href="informatica.html"><i class="fa fa-folder"></i> Informática</a></li>
                                    <li><a href="canalmedicina.html"><i class="fa fa-folder"></i> Medicina</a></li>
                                    <li><a href=""><i class="fa fa-folder"></i> Administración</a></li>
                                    <li><a href=""><i class="fa fa-bar-chart-o"></i> Matemática</a></li>
                                    <li><a href=""><i class="fa fa-folder"></i> Veterinaria</a></li>
                                    <li><a href=""><i class="fa fa-folder"></i> Agronomia</a></li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 animated fadeInRight">
                    <h5 class="tag-title">Canales más visitados</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-file"></i>
                                        </div>
                                        <div class="file-name">
                                            Documentación Virtual
                                            <br/>
                                            <small>Creado el: Ene 11, 2017</small>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/p1.jpg">
                                        </div>
                                        <div class="file-name">
                                            Recupera tus recuerdos
                                            <br/>
                                            <small>Creado el: Ene 6, 2017</small>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/med.png">
                                        </div>
                                        <div class="file-name">
                                            Paralisis Celebral
                                            <br/>
                                            <small>Creado el: Ene 7, 2017</small>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="file-name">
                                            El arte musical
                                            <br/>
                                            <small>Creado el: Ene 22, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/artificial.jpg">
                                        </div>
                                        <div class="file-name">
                                            La era de la Inteligencia Artificial
                                            <br/>
                                            <small>Creado el: Feb 11, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>

                                   <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/html_logo.png">
                                        </div>
                                        <div class="file-name">
                                            Maquetación de Proyectos Web con html5
                                            <br/>
                                            <small>Creado el: Feb 12, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <a href="#">
                                    <div class="file">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <div class="file-name">
                                            Números y Palabras
                                            <br/>
                                            <small>Creado el: Feb 22, 2017</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                                  <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/logojavascript.jpg">
                                        </div>
                                        <div class="file-name">
                                            Lógica de Programación y Efectos en Proyectos Web...
                                            <br/>
                                            <small>Creado el: Feb 12, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/farma.jpg">
                                        </div>
                                        <div class="file-name">
                                            La revolución farmacológica
                                            <br/>
                                            <small>Creado el: Ene 6, 2017</small>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/natural.jpg">
                                        </div>
                                        <div class="file-name">
                                            Modelos matemáticos para entender la naturaleza
                                            <br/>
                                            <small>Creado el: Ene 7, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="file-name">
                                            Música en los números?
                                            <br/>
                                            <small>Creado el: Ene 22, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/signo.jpg">
                                        </div>
                                        <div class="file-name">
                                            Signos en rotación
                                            <br/>
                                            <small>Creado el: Feb 11, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="img-responsive fa fa-film"></i>
                                        </div>
                                        <div class="file-name">
                                            Conferencias ACM
                                            <br/>
                                            <small>Creado el: Feb 18, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <a href="#">
                                    <div class="file">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <div class="file-name">
                                            Inforciencias UCLA
                                            <br/>
                                            <small>Creado el: Feb 22, 2017</small>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/p1.jpg">
                                        </div>
                                        <div class="file-name">
                                            Fotografia Situacional
                                            <br/>
                                            <small>Creado el: Ene 6, 2017</small>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/p2.jpg">
                                        </div>
                                        <div class="file-name">
                                            Fotografia Estacional
                                            <br/>
                                            <small>Creado el: Ene 7, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-music"></i>
                                        </div>
                                        <div class="file-name">
                                            Cursos de voz (Oratoria)
                                            <br/>
                                            <small>Creado el: Ene 22, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-responsive" src="img/vacuna.jpg">
                                        </div>
                                        <div class="file-name">
                                            Vacuna universal
                                            <br/>
                                            <small>Creado el: Ene 7, 2017</small>
                                        </div>
                                    </a>
                                </div>
                            </div>


                    </div>
                    </div>
                </div>
                </div>
        <div class="footer">
            <div class="pull-right">
                10GB de <strong>250GB</strong> Gratis.
            </div>
            <div>
                <strong>Copyright</strong> UCLABooK &copy; 2017-2018
            </div>
        </div>

        </div>
            </div>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <link href="css/Slider.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>

    <script type="text/javascript" >
    /*  Si no hay una imagen visible o la última
     *  imagen es visible, muestra la primera.

     */
    function slider(){

        if ($('#slider img:visible').length == 0 || $('#slider img:last').is(':visible')){
            $('#slider img').fadeOut().first().fadeIn();
        } else {
            $('#slider img:visible').fadeOut().next('img').fadeIn();
        }

    }

$(document).ready(function(){

    slider();
    setInterval(slider, 2000);

 });
</script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.file-box').each(function() {
                animationHover(this, 'pulse');
            });
        });
    </script>
</body>

</html>
