<% @title= "UCLABOOK - Chat" %>

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Juan Aldana</strong>
                             </span> <span class="text-muted text-xs block">Ing. Imformática <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="perfil.html">Mi Perfil</a></li>
                            <li><a href="notifications.html">Notificaciones</a></li>
                            <li><a href="contactos.html">Contactos</a></li>
                            <li><a href="buzon.html">Mensajería</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        UCLABOOK+
                    </div>
                </li>
                <li>
                    <a href="canalesgenerales.html"><i class="fa fa-th-large"></i> <span class="nav-label">Suscrpciones a Canales</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="canalinformatica.html">Canal de Big Data</a></li>
                        <li><a href="canalmedicina.html">Canal De Modelado de Sistemas</a></li>
                        <li><a href="nalinformatica.html">Canal de Diseño de App Android</a></li>
                        <li><a href="nalinformatica.html">Canal de Software de Código Abierto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="nalinformatica.html"><i class="fa fa-diamond"></i> <span class="nav-label">Áreas de Conocimientos</span> <span class="label label-primary pull-right">NUEVO</span></a>
                </li>

                <li>
                    <a href="ver_mensaje.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mensajería </span><span class="label label-warning pull-right">16/24</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="buzon.html">Buzón</a></li>
                        <li><a href="chat.html">Email Recientes</a></li>
                        <li><a href="redactar_mensaje.html">Redactar Mensaje</a></li>
                    </ul>
                </li>
                             <li>
                    <a href="contactos.html"><i class="fa fa-desktop"></i> <span class="nav-label">Sugerencias de Contactos</span>  <span class="pull-right label label-primary">ESPECIAL</span></a>
                </li>
                <li>
                    <a href="notifications"><i class="fa fa-files-o"></i> <span class="nav-label">Busquedas</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="contactos.html">Buscar Contactos</a></li>
                        <li><a href="canalesgenerales.html">Buscar Canales</a></li>
                        <li><a href="404.html">Página 404 </a></li>
                        <li><a href="500.html">Página 500 </a></li>
                        <li><a href="canalesgenerales.html">Áreas de Conocimientos Destacadas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="video.html"><i class="fa fa-globe"></i> <span class="nav-label">Sugerencias de Páginas</span><span class="label label-info pull-right">NUEVO</span></a>
                </li>
                <li>
                    <a href="notifications.html"><i class="fa fa-flask"></i> <span class="nav-label">Ver MásI</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="#">Ubicación GoogleMaps</a></li>

                        <li><a href="video.html">Vídeos más Populares</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Opciones de Configuración</span></a>
                </li>

                <li class="active">
                    <a href="galeria.html"><i class="fa fa-picture-o"></i> <span class="nav-label">Mis Álbunes de Fotos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="galeria.html">Galería de Fotos</a></li>
                        <li class="active"><a href="galeria.html">Fotos en Carrousel</a></li>

                    </ul>
                </li>


                <li class="special_link">
                    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Uso de Cookies</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Búsqueda..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bienvenidos a UCLABOOK+</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="notifications.html">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="perfil.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">6h feb</small>
                                    <strong>Joel</strong> compartiendo con <strong>Maria Laurath</strong>. <br>
                                    <small class="text-muted">3 días feb 7:58 pm - 10.02.2017</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="perfil.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5h feb </small>
                                    <strong>Johnatan Sanchez</strong> compartiendo con <strong>Sohecdy Ávila</strong>. <br>
                                    <small class="text-muted">ayer 1:21 pm - 06.02.2017</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="perfil.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">23h ago</small>
                                    <strong>Yessica López</strong> compartiendo con <strong>Manuel Lozada</strong>. <br>
                                    <small class="text-muted">2 días feb  2:30 pm - 18.02.2017</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="buzon.html">
                                    <i class="fa fa-envelope"></i> <strong>Leer todos los Mensajes</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="notifications.html">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="ver_mensaje.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Tienes 16 mensajes
                                    <span class="pull-right text-muted small">4 minutos feb</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="perfil.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 Nuevas Notificaciones
                                    <span class="pull-right text-muted small">12 minutos feb</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="video.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Servicios Adicionales
                                    <span class="pull-right text-muted small">4 minutos feb</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>Ver Alertas</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>

        </nav>
        </div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chat</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Mensajería</a>
            </li>
            <li class="active">
                <strong>Chat</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <strong>Chat </strong> En el Tema 2, el estudiante encontrará una guía rápida y sencilla para conectarse con las Bases de Datos Access y Oracle.<span class="text-navy">juan.aldana55@gmail.com</span>  Bases de Datos Access y Oracle.

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

                <div class="ibox chat-view">

                    <div class="ibox-title">
                        <small class="pull-right text-muted">Mensaje:  Lunes Feb 16 2017 - 06:39:23</small>
                         Panel de Chat
                    </div>


                    <div class="ibox-content">

                        <div class="row">

                            <div class="col-md-9 ">
                                <div class="chat-discussion">

                                    <div class="chat-message">
                                        <img class="message-avatar" src="img/a1.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Vivialby Pineda </a>
											<span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                            <span class="message-content">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <img class="message-avatar" src="img/a4.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Karl Jordan </a>
                                            <span class="message-date">  Lunes FEb 15 2017 - 11:12:36 </span>
                                            <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <img class="message-avatar" src="img/a2.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Luis Nieto </a>
                                            <span class="message-date">  Martes Febrero 20 2017 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <img class="message-avatar" src="img/a2.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Luis Nieto </a>
                                            <span class="message-date">  Martes Febrero 20 2017 - 11:12:36 </span>
                                            .
                                            </span>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <img class="message-avatar" src="img/a2.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Luis Nieto </a>
                                            <span class="message-date">  Martes Febrero 20 2017 - 11:12:36 </span>
                                         .
                                            </span>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <img class="message-avatar" src="img/a2.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Luis Nieto </a>
                                            <span class="message-date">  Martes Febrero 20 2017 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.

                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="chat-users">


                                    <div class="users-list">
                                        <div class="chat-user">
                                            <img class="chat-avatar" src="img/a4.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Karla</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <img class="chat-avatar" src="img/a1.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Monica</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <span class="pull-right label label-primary">Online</span>
                                            <img class="chat-avatar" src="img/a2.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">LUis</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <span class="pull-right label label-primary">Online</span>
                                            <img class="chat-avatar" src="img/a3.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Sohecdy</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <img class="chat-avatar" src="img/a5.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Aliciaith</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <img class="chat-avatar" src="img/a6.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Monica</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <img class="chat-avatar" src="img/a2.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Marco</a>
                                            </div>
                                        </div>
                                        <div class="chat-user">
                                            <span class="pull-right label label-primary">Online</span>
                                            <img class="chat-avatar" src="img/a3.jpg" alt="" >
                                            <div class="chat-user-name">
                                                <a href="#">Pedro</a>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="chat-message-form">

                                    <div class="form-group">

                                        <textarea class="form-control message-input" name="message" placeholder="mensajetext"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
        </div>

    </div>


</div>


</div>

</div>
</div>
